@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 13px;
    @apply cursor-default select-none font-medium antialiased;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    color-scheme: light dark;
}

*,
*::before,
*::after {
    @apply dark:border-white/20;
}

html,
body {
    @apply m-0 h-full bg-transparent;
}

button {
    @apply cursor-default;
}

button.toolbar-item {
    @extend .secondary;
    @apply flex h-9 flex-col-reverse items-center justify-center text-sm leading-none;
}

.secondary {
    @apply font-normal text-black text-opacity-60 dark:text-white dark:text-opacity-60;
}

a {
    @apply text-blue-500;
}

progress {
    @apply block h-4 w-full appearance-none overflow-hidden rounded-full border p-0 dark:border-white/20;
}

progress::-webkit-progress-bar {
    @apply bg-neutral-100 dark:bg-stone-900;
}

progress::-webkit-progress-value {
    @apply rounded-full bg-blue-600 transition-[inline-size] duration-200 ease-in-out;
}

progress:indeterminate::-webkit-progress-value {
    @apply relative w-1/5 animate-[p-pulse_2s_linear_infinite] transition-none;
}

@keyframes p-pulse {
    0% {
        opacity: 1;
        left: -20%;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        left: 100%;
    }
}

.xterm {
    color-scheme: dark;
}

.opaque {
    @apply bg-neutral-300 dark:bg-stone-900;
}
